.Error-Container{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
}

.Error-Box{
    background-color: var(--white);
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
}

.Error-Header{
    color: var(--red);
    font: 700 18px "Open Sans";
    margin-bottom: 16px;
}

.Error-Message{
    color: var(--black);
    font: 400 16px "Open Sans";
}

.Button-Container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: var(--white);
}

.Reupload{
    background-color: var(--red);
    width: 92px;
    height:45px;
    border-radius: 10px;
    margin-right: 8px;
    position: absolute;
    bottom: 16px;
    right: 120px;
}

.Cancel{
    background-color: var(--button_border);
    width: 92px;
    height:45px;
    border-radius: 10px;
    position: absolute;
    bottom: 16px;
    right: 20px;
}

.Reupload:hover{
    background-color: var(--red_hover);
}

.Cancel:hover{
    background-color: var(--hover_button_dark_gray);
}