@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("tff");
}

@font-face {
  font-family: "Open Sans Italic";
  src: url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("tff");
}

:root {
  --red: #da1e28;
  --red_hover: #9f0711;
  --light_gray: #f0f0f0;
  --medium_gray: #6e6e6e;
  --dark_gray: #525252;
  --white: #ffffff;
  --black: #121212;
  --button_border: #898989;
  --pdf_button: #525252;
  --inactive_button: #a3a3a3;
  --active_button: #1b65f8;
  --hover_button_blue: #0645c5;
  --hover_button_light_gray: #e5e5e5;
  --hover_button_dark_gray: #3d3d3d;
  --dark_blue: #022b7f;
  --pdf_line: #c2c2c2;
}
