.prompt-input{
    margin: 8px 20vw 32px 20vw ;
    position:absolute;
    bottom: 0px;
}

.prompt-container{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    width: 60vw;
    font: 500 14px "Open Sans";
    color: var(--black);
    align-items: flex-end;
    justify-content: center;
}

.prompt-box{
    background-color: white;
    display: flex;
    flex-grow: 1;
    border-radius: 10px;
    position: relative;
}

.text-input{
    display: flex;
    flex-grow: 1;
    height: 50px;
    min-height: 50px;
    resize: none;
    padding: 18px 20px;
    text-align: left;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
}

.text-input:focus{
    outline: none;
}

.pdf-upload-enabled{
    display: flex;
    border: 2px solid var(--button_border);
    padding: 5px 5px 5px 6px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    background-color: transparent;
}

.pdf-upload-enabled:hover{
    background-color: var(--hover_button_light_gray);
}

.pdf-upload-disabled{
    display: flex;
    border: 2px solid var(--button_border);
    padding: 5px 5px 5px 6px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    background-color: transparent;
    opacity: 0.5;
}

.disclaimer-container{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.msg-container{
    font: 500 12px 'Open Sans';
    color: var(--medium_gray);
    margin-left:8px;
}

.loading-text{
    color: var(--medium_gray);
    font:500 32px 'Open Sans';
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}